<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>TraktClientID</key>
    <string>f0bf471d51d179c7ad8c96db05fe4e3b010e9e229be87f884c1d5ed8457520bc</string>
    <key>TraktClientSecret</key>
    <string>0f5e6adf584cd84a56e3707d2bf4b7cca7602c479e09edc421ce2c01de7fe06d</string>
    <key>TMDBAPIKey</key>
    <string>5bfac6efc6d9711a7c5751e211d12ac2</string>
</dict>
</plist>
